bugreport/
examples/
.pyc
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Virtual environment
venv/
# Installer logs
pip-log.txt

# Editors
.vscode/

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# Data
SEC-Edgar-Data/

# Sphinx
docs/build

# macOS specific
.DS_Store

# temporary files
*~
*.swp
*.swo
*.env
